<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<header>
  <h1>Hello Angular app</h1>
</header>

<main class="main">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto maiores sunt atque voluptas officia minus commodi non fuga quibusdam maxime minima, dolor inventore autem ad ut dicta vel exercitationem quos.</p>
</main>

<footer>
  <p>&copy; Stefan Voychev  2024 73! de LZ3SV</p>
</footer>

<router-outlet />
